<app-language-dropdown
  [multiple]="true"
  [groups]="groups"
></app-language-dropdown>

<div class="content">
  <p>
    Задача: Используя Angular 8 реализовать компонент для выбора языка.
    Компонент является dropdown-select. Он должен отображать две группы языков.
    Иметь текстовый поиск по обеим группам языков.
  </p>

  <p>
    На вход компонент принимает 2 массива языков: первая группа языков (см.
    группу Аutomation на рис.) содержит небольшое количество языков вторая
    группа - все остальные языки, общее количество языков 400+. Поэтому
    необходимо предусмотреть оптимизацию отрисовки.
  </p>

  <p>
    Заголовки групп должны быть кастомизируемы. При открытии dropdown-select
    фокус должен попадать в поле ввода поиска. Если первая группа языков не
    содержит элементов, то заголовок группы скрывается. Должны поддерживаться
    директивы Angular'а ngModel, ngModelChanged. Поле поиска должно поддерживать
    debounce, очищаться при каждом закрытии дропдауна, иметь кнопку очистки.
    Когда дропдаун закрыт в поле выбора должно отображаться название выбранного
    языка (или placeholder, если язык не выбран).
  </p>

  <p>
    В списке языков должны быть отмечены уже смапленные языки (языки у которых
    поле Mapped = true) - либо подписью '(mapped)', либо жирным шрифтом. По
    верстке никаких ограничений и требований нет.
  </p>
  <p>
    Ссылка на задание:
    <a
      target="_blank"
      href="https://docs.google.com/document/d/1D8GIYCEhw5TKLFep6r32y2gYqAxSXMbgkZ4wosH-p58/edit"
      >Google Docs</a
    >
  </p>
</div>
